* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: lightgrey;
}

.center {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

.order {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
}

.order > .deleteButton {
  position: absolute;
  right: 10px;
}

.order > .deleteButton:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.closeButtons {
  margin: 3px;
}

#reportRoot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.report {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 3px 5px 9px;
  width: 350px;
  height: 300px;
  margin: 10px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5%;
}

.report > h2 {
  font-size: 20pt;
}

.report > p {
  font-size: 16pt;
}
 
.spinner {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  border-top-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#backgroundContainer { 
  position: relative;
}

#tableColumn {
  border-left: 2px solid black;
}

.backgroundImage {
  position: absolute;
  display: block;
  opacity: .15;
  z-index: -1;
}

#backgroundGermany {
  left: 8.33%;
  width: 83.34%;
  padding-top: 60px;
}

#backgroundSovietUnion {
  width: 60%;
  left: 20%;
  top: -40px;
}

#backgroundUnitedStates {
  width: 50%;
  left: 25%;
  opacity: .10;
}

#backgroundJapan {
  width: 80%;
  left: 10%;
  padding-top: 70px;
}

#backgroundFrance {
  width: 30%;
  left: 35%;
  padding-top: 50px;
}

#countrySelectText {
  display: inline;
}
.utilities {
  position: relative;
  z-index: -2;
}

.icon {
  position: relative;
  z-index: -1;
}

button {
  background-color: #333;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

button:hover {
  background-color: #111;
}

.row {
  border: 2px solid black;
}

nav ul {
  left: 0;
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:hover {
  background-color: #111;
}

/*RWD Framework*/
* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Debugging Lines */
/*
[class*="col-"] {
  border: 2px dashed red;
}

.row {
  border: 2px dashed blue;
}
*/

@media only screen {
  .col-xs-1 { width: 8.33%; }
  .col-xs-2 { width: 16.66%; }
  .col-xs-3 { width: 25%; }
  .col-xs-4 { width: 33.33%; }
  .col-xs-5 { width: 41.66%; }
  .col-xs-6 { width: 50%; }
  .col-xs-7 { width: 58.33%; }
  .col-xs-8 { width: 66.66%; }
  .col-xs-9 { width: 75%; }
  .col-xs-10 { width: 83.33%; }
  .col-xs-11 { width: 91.66%; }
  .col-xs-12 { width: 100%; }
}

@media only screen and (min-width: 768px) {
  .col-sm-1 { width: 8.33%; }
  .col-sm-2 { width: 16.66%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33%; }
  .col-sm-5 { width: 41.66%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33%; }
  .col-sm-8 { width: 66.66%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33%; }
  .col-sm-11 { width: 91.66%; }
  .col-sm-12 { width: 100%; }
}

@media only screen and (min-width: 992px) {
  .col-md-1 { width: 8.33%; }
  .col-md-2 { width: 16.66%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33%; }
  .col-md-5 { width: 41.66%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33%; }
  .col-md-8 { width: 66.66%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33%; }
  .col-md-11 { width: 91.66%; }
  .col-md-12 { width: 100%; }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 { width: 8.33%; }
  .col-lg-2 { width: 16.66%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33%; }
  .col-lg-5 { width: 41.66%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33%; }
  .col-lg-8 { width: 66.66%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33%; }
  .col-lg-11 { width: 91.66%; }
  .col-lg-12 { width: 100%; }
}